header{
	font-size: 20px;
	font-family: "Libre Baskerville", serif; 
	font-weight: 400;
  font-style: normal;
  text-align: center;
}
p{
	font-size: 24px;
}

main{
	margin-left: 100%px;
}

.box img {
	width: 100px;
	height: 600px;
	object-fit: cover;
	display: block;
	vertical-align: top;
	float: left;
	width: 22%;
	padding: 3px;
	padding-left: 3px;
	border-radius: 5px;

}

img{
	width: 100%;
	border-radius: 10px;
}

img:hover{
	transform: scale(2,2);
	transition: 4s transform;
	border-radius: 2px;
}
